.edit {
  &-wrapper {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    input {
      width: 100%;
      height: 30px;
      line-height: 30px;
      font-size: calc(15px + 0.2vw);
      border-radius: 3px;
      border: 1px solid #000000;
    }
    textarea {
      width: 100%;
      height: 70px;
      line-height: 25px;
      font-size: calc(15px + 0.2vw);
      border: 1px solid #000000;
      border-radius: 3px;
    }
  }
  &-title {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: calc(15px + 0.5vw);
  }
  &-button {
    width: 150px;
    height: 30px;
    line-height: 30px;
    background: #24292E;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
  }
}