.event-table-wrapper {
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  tr {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: calc(15px + 0.3vw);
    border: 1px solid #000000;
  }
  th {
    border: 1px solid #000000;
  }
  td {
    text-align: center;
    border: 1px solid #000000;
  }
}

.event-join-button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin: 30px auto;
  border: 2px solid #000000;
  text-align: center;
  cursor: pointer;
}