.container {
  min-height: calc(100vh - 50px);
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.event-table-wrapper {
  width: 80%;
  overflow: scroll;
  margin: 0 auto;
  tr {
    height: 50px;
    line-height: 50px;
    font-size: calc(15px + 0.3vw);
    border: 1px solid #000000;
  }
  th {
    border: 1px solid #000000;
  }
  td {
    text-align: center;
    border: 1px solid #000000;
  }
}

.event {
  &-auth {
    &-title {
      width: 300px;
      height: 40px;
      margin: 0 auto;
      margin-top: 50px;
      text-align: center;
      font-size: calc(15px + 0.4vw);
      font-weight: bolder;
    }

    &-form {
      width: 250px;
      height: 30px;
      margin: 0px auto;
      input {
        width: 100%;
        height: 100%;
        font-size: calc(15px + 0.2vw);
      }
    }
  
  }
  &-button {
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 30px auto;
    background: #1DA1F2;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: #FFFFFF;
    position: relative;
  }
  
  &-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    text-decoration: none;
  }

  &-host {
    width: 300px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
  }
}