.header-wrapper {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #24292E;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
}

.header-tab{
  margin: 0 10px;
  cursor: pointer;
  &--medium {
    color: #FFFFFF;
    text-decoration: none;
  }
}