.join {
  &-wrapper {

  }
  &-button {
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    border: solid 1px #000000;
    cursor: pointer;
  }
}