.main {
  &-button {
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    // border: solid 2px #000000;
    border-radius: 5px;
    margin: 30px auto;
    cursor: pointer;
    background: #1DA1F2;
  }
  &-link {
    font-weight: bolder;
    color: #FFFFFF;
    font-size: calc(15px + 0.3vw);
    text-decoration: none;
  }
}