.table {
  &-wrapper {
    width: 80%;
    overflow: scroll;
    margin: 0 auto;
    text-align: center;
  }
  &-tr {
    height: 50px;
    line-height: 50px;
    font-size: calc(15px + 0.3vw);
  }
  &-th {
    color: #FFFFFF;
    background: #1DA1F2;
    border: 1px solid #EDEDED;
  }
  &-td {
    background: #F2FBFF;
    border: 1px solid #EDEDED;
  }
  &-none-border {
    border: none;
  }
  &-username {
    font-weight: bolder;
  }
}