.table-wrapper {
  margin: 20px auto;
  width: 90%;
  overflow: hidden;
}

.table-line {
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  &:last-child {
    border-bottom: 2px solid #000000;
  }
}

.table-cell+ .table-cell {
  border-right: none;
  border-left: 2px solid #000000;
}

.table-cell {
  width: 100%;
  text-align: center;
  border-left: 2px solid #000000;
  border-top: 2px solid #000000;
  &:last-child {
    border-right: 2px solid #000000;
  }
}